/node_modules
/public/hot
/public/storage
public/User_Profile
/public/uploads/
/storage/*.key
/vendor
/.idea/**
/.env
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
